.footer {
  height: 6vh;
  border: 5px solid rgb(5, 5, 5);
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.4rem;
}

.footer__social{
  display: flex;
  gap: 14px;
}

.footer__social li{
  cursor: pointer;
}

.footer li:hover{
  color: #58B789;
}

